@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z11lFd2JQEl8qw.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

body, html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  background-color: Black;
  color: white;
}

.container {
  position: absolute;
  min-height: 100%;
}
.container:before {
  background: url("../images/back.jpg") no-repeat center center fixed; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: -10;
  opacity: .65;
  filter: blur(8px);
}

.questions {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.header {
  width: 80%;
  margin: auto;
  padding-top: 120px;
  text-align: center;
}

.date {
  font-size: 1.5rem;
}

.time {
  font-size: 1.5rem;
}

#passed,
#notpassed,
#exception {
  display: none;
  text-align: center;
}

#age,
#contact,
#travel,
#fullSymptomps,
#seriousSymptomps,
#proof {
  display: none;
}

#passed {
  background-color: rgb(24, 177, 80);
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

#notpassed {
  background-color: rgb(177, 33, 33);
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

#exception {
  background-color: rgb(224, 192, 49);
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

#result {
  margin: 0;
  margin-top: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;

  text-shadow: 1px 2px 2px black;
}

#tryagain {
  margin-top: 2rem;
}

button {
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins";

  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

h1.time {
  font-size: 2rem;
}

div.header h2 {
  margin-top: 0;
}

#homeLogo {
  position: absolute;
}

h4 {
  text-shadow: 1px 2px 2px black;
}
